body {
  background-color: rgb(250, 250, 250);
  color: #0C0C0C;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 15px;
  font-family: Helvetica;
}
a {
  color: #00a2ff;	
}
nav {
  border-style: double;
  border-color: grey;
}
.navbar {
  max-width:100%;
  margin-left:auto;
  margin-right:auto;
  top: 0;
	border-style: outset;
	border-color: black;
	box-sizing: border-box;
	background-color: #e6f2ff;
	position: sticky;
}
.navlist {
  list-style-type: none;
}
.navitem {
  display: inline;
  padding-right: 12px;
}
.blogtitle {
  display: inline-block;
}
.blogtext {
  font-family: 'Times New Roman';
  font-size: 16px;
  text-indent: 32px;
  line-height: 1.25;
}
@media only screen and (max-width: 700px) {
  .navitem {
    display: block;
  }
}
@media only screen and (hover: none) {
  .navitem {
    display: block;
  }
}